  
  .auth-container {
    display: flex;
    height: 100vh;
  }
  
  .auth-left, .auth-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
  }
  
  .auth-left {
    background-color: #15161c;
    color: white;
    text-align: center;
  }
  
  .auth-right {
    background-color: #2A2B38;
    text-align: center;
    border-left: 1px solid #ddd;
  }
  
  .auth-btn {
    background-color: #2A2B38;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .auth-btn:hover {
    background-color: white;
    color: black;
  }
  .signup-submit-btn{
    background-color: #15161c;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  .signup-submit-btn:hover{
    color: white;
    background-color: rgb(49, 47, 47);
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
  }
  
  .social-icons i {
    font-size: 24px;
    cursor: pointer;
  }
  
  .social-icons i:hover {
    color: #28c39a;
  }

  .SignupWelcome{
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    padding: 10px;
    width: 100%;
    border: 1px solid ;
    border-radius: 10px;
    background-color: rgb(218, 216, 216);

  }
  
  input:focus {
    outline: none;
    border-color: #28c39a;
    background-color: white;
  }






